@import 'bootstrap/dist/css/bootstrap.min.css';


#home,
#analytics,
#actions {
    min-height: 100px;
}

.filter {
    display: flex;
    align-items: baseline;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-around;
    margin: 10px;
}

.gift-container-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 60%;
    padding: 10px;
    margin: 10px;
}

.filter-forms {
    display: flex;
}

.delete-text {
    all: unset;
    color: darkred;
    cursor: pointer;
    display: flex;
}

.delete-text:hover {

}

.card-header {
    display: flex;
    justify-content: space-between;
}
